<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secure Url Shortener Home Page</title>
    <link rel="stylesheet" href="unauthorized.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sorry,  you are not authorized to access this page</h1>
      <form method="GET" action="/">
        <button class="backToHome" type="submit">Back To Home</button>
      </form>
    </div>
  </body>
</html>
